* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background: url(./images/background-home-mobile.jpg);
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 100vw;
  padding: 1.5rem;
  position: relative;
}
body .home-container .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 1.5rem;
}
body .home-container .nav-container ul li {
  list-style: none;
}
body .home-container .nav-container .nav-menu {
  display: none;
}
body .home-container .nav-container .show-menu {
  display: block;
  position: absolute;
  right: 3rem;
  top: 2rem;
}

body .home-container .nav-container .show-menu ul li a {
  text-decoration: none;
  color: white;
  line-height: 2;
  font-size: 1.2rem;
}
@media screen and (min-width: 778px) {
  body {
    background: url("/images/background-home-tablet.jpg");
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: 100vw;
  }
  body .home-container .nav-container .hamburger {
    display: none;
  }
  body .home-container .nav-container .nav-menu {
    display: flex;
  }
  body .home-container .nav-container .nav-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  body .home-container .nav-container .nav-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  body {
    background: url("/images/background-home-desktop.jpg");
  }
}
