body {
  background: url(../images/crew/background-crew-mobile.jpg);
}
@media screen and (min-width: 778px) {
  body {
    background: url(../images/crew/background-crew-mobile.jpg);
  }
}

@media screen and (min-width: 1200px) {
  body {
    background: url(../images/crew/background-crew-desktop.jpg);
  }
}
