body {
  background: url(../images/crew/background-crew-mobile.jpg);
  width: 100vw;
  overflow: hidden;
}
body .body-container .body {
  width: 100%;
}

body .body-container .body .crew {
  /* display: flex; */
  transition: all 1s linear;
}
body .body-container .body .crew ul {
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
  transition: 1000s linear;
  /* width: 100%; */

  /* transform: translateX(-100%); */
}
body .body-container .body .crew ul li {
  /* width: 100%; */
}

body .body-container .body p {
  padding: 0;
}
body .body-container .body img {
  width: 100vw;
  height: 20rem;
  object-fit: contain;
}
@media screen and (min-width: 778px) {
  body {
    background: url(../images/crew/background-crew-mobile.jpg);
  }
}

@media screen and (min-width: 1200px) {
  body {
    background: url(../images/crew/background-crew-desktop.jpg);
  }
}
